<<<<<<< HEAD
=======
@import "bootstrap/bootstrap.min.css";
@import "splidejs/splide-core.min.css";
@import "splidejs/custom.css";
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Medium.woff) format(woff2);
  src: url(fonts/Gilroy-Medium.woff) format(woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-SemiBold.woff2) format(woff2);
  src: url(fonts/Gilroy-SemiBold.woff) format(woff);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Bold.woff2) format(woff2);
  src: url(fonts/Gilroy-Bold.woff) format(woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Regular.woff2) format("woff2");
  src: url(fonts/Gilroy-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Black.woff2") format("woff2");
  src: url("fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-ExtraBold.woff2) format("woff2");
  src: url(fonts/Gilroy-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}
.navbar-nav {
  justify-content: space-between;
}

.navbar-expand-xxl .navbar-nav .nav-link {
  padding: 10px 25px;
  background: #1560BD;
  border-radius: 60px;
  color: #FAFAFA;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  text-transform: uppercase;
  transition: background 0.3s;
}
.navbar-expand-xxl .navbar-nav .nav-link:hover {
  background: #E31E24;
}
.navbar-expand-xxl .navbar-nav .nav-link.active {
  background: #E31E24;
}
@media screen and (max-width: 1400px) {
  .navbar-expand-xxl .navbar-nav .nav-link {
    background: none;
  }
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler-icon {
  display: block;
  width: 23px;
  height: 23px;
  background: url(../img/burger.svg) no-repeat;
  transition: 0.3s;
}
[aria-expanded=true] .navbar-toggler-icon {
  transform: rotate(90deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.carousel--base .carousel-indicators {
  align-items: center;
  bottom: -60px;
}
.carousel--base .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  margin-left: 11px;
  margin-right: 11px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: #D9D9D9;
}
.carousel--base .carousel-indicators .active {
  width: 15px;
  height: 15px;
  background-color: #1560BD;
}
.carousel--base .carousel-indicators .near-active {
  width: 11px;
  height: 11px;
}
.carousel--base .carousel-item {
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (max-width: 1400px) {
  .carousel--base .carousel-item {
    border-radius: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .carousel--base .carousel-indicators {
    bottom: -55px;
  }
  .carousel--base .carousel-indicators [data-bs-target] {
    width: 3.7px;
    height: 3.7px;
    background-color: #494949;
    margin-right: 6px;
    margin-left: 6px;
  }
  .carousel--base .carousel-indicators .active {
    width: 7.5px;
    height: 7.5px;
    background-color: #1560BD;
  }
  .carousel--base .carousel-indicators .near-active {
    width: 6px;
    height: 6px;
  }
}
.carousel--product {
  height: 568px;
}
@media screen and (max-width: 1400px) {
  .carousel--product {
    height: 324px;
  }
}
.carousel--product .carousel-indicators {
  height: 100%;
}
.carousel--product .carousel-indicators img {
  border-radius: 15px;
  overflow: hidden;
}
.carousel--product .carousel-inner {
  width: -moz-min-content;
  width: min-content;
  overflow: initial;
}
.carousel--product .carousel-indicators [data-bs-target] {
  width: auto;
  background-color: #FAFAFA;
}
.carousel--product .carousel-indicators [data-bs-target] img {
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  overflow: hidden;
}
.carousel--product .carousel-item {
  width: 420px;
  height: 568px;
  justify-content: center;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .carousel--product .carousel-item {
    width: 240px;
    height: 324px;
  }
}
.carousel--product .carousel-item img {
  box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  border-radius: 15px;
}

.modal-header {
  border-bottom: 0;
}

.modal-backdrop {
  background: linear-gradient(180deg, rgba(26, 65, 114, 0.5) 0%, rgba(21, 96, 189, 0.5) 100%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.modal-dialog--img {
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  padding: 0 !important;
  margin: 0 auto;
}
.modal-dialog--img .modal-body {
  display: flex;
}
.modal-dialog--img .modal-body img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90vh;
}

.form-control {
  box-shadow: 0px 4px 20px rgba(14, 14, 14, 0.07);
  border-width: 0;
  border-radius: 60px;
}
.form-control:focus {
  box-shadow: 0px 4px 20px rgba(14, 14, 14, 0.07);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border: 2px solid #E31E24;
  background: none;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  border-color: #E31E24;
  box-shadow: none;
}

.form-control.is-valid, .was-validated .form-control:valid {
  background: none;
  box-shadow: 0px 4px 20px rgba(14, 14, 14, 0.07);
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
  box-shadow: 0px 4px 20px rgba(14, 14, 14, 0.07);
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #1560BD;
  border-color: #1560BD;
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
  color: #212529;
  border: none;
  box-shadow: none;
}

.form-check-input.is-invalid, .was-validated .form-check-input:invalid {
  box-shadow: none;
  border: 2px solid #E31E24;
}

.form-check-input.is-invalid:focus, .was-validated .form-check-input:invalid:focus {
  box-shadow: none;
}

.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
  background-color: #1560BD;
}

.form-check-input.is-valid, .was-validated .form-check-input:valid {
  background-color: #1560BD;
}

.page-item {
  padding: 0 15px;
}
@media screen and (max-width: 1400px) {
  .page-item {
    padding: 0 9px;
  }
}

.page-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #D9D9D9;
  color: #FAFAFA;
  text-align: center;
  text-edge: cap;
  font-weight: 600;
  font-size: 30px;
  transition: opacity 0.3s;
}
@media screen and (max-width: 1400px) {
  .page-link {
    width: 30px;
    height: 30px;
    padding: 4px;
    font-size: 15px;
  }
}
.page-link:hover {
  box-shadow: none;
  background-color: #D9D9D9;
  color: #FAFAFA;
  opacity: 0.7;
}
.page-link:focus {
  box-shadow: none;
}
.page-item.active .page-link {
  background-color: #1560BD;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
  color: #1560BD;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1400px) {
  .page-item:first-child .page-link, .page-item:last-child .page-link {
    font-size: 18px;
  }
}

.page-item.disabled .page-link {
  color: #D9D9D9;
}

body {
  font-family: "Gilroy";
  font-style: normal;
  background: #FAFAFA;
}

@media screen and (max-width: 1400px) {
  .container--header {
    max-width: 720px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .container--header {
    max-width: 360px;
    padding: 0 22px;
  }
}
.container--bc {
  padding: 0;
}
@media screen and (max-width: 1400px) {
  .container--bc {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container--bc {
    max-width: 360px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
}

.title--h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #494949;
}
@media screen and (max-width: 1400px) {
  .title--h1 {
    font-size: 20px;
    font-weight: 700;
  }
}
.title--h2 {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.3s;
}
.title--h2:hover {
  color: #494949;
  opacity: 0.8;
}
@media screen and (max-width: 1400px) {
  .title--h2 {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 0;
  }
}
.title--sub {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #494949;
}
@media screen and (max-width: 1400px) {
  .title--sub {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
  }
}
.title__under {
  font-size: 30px;
  color: #1560BD;
}

.btn {
  height: 41px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-radius: 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  text-transform: uppercase;
  transition: 0.3s;
}
@media screen and (max-width: 1400px) {
  .btn {
    height: 27px;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 10px;
  }
}
.btn:hover {
  color: #FAFAFA;
  background: #E31E24;
  border-color: #E31E24;
}
.btn--base {
  background: #1560BD;
  color: #FAFAFA;
}
.btn--empty {
  background: initial;
  border: 2px solid #1560BD;
  color: #1560BD;
}

@media screen and (max-width: 1400px) {
  main {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  main {
    max-width: 360px;
    padding: 0 10px;
  }
}

.slider {
  margin-bottom: 56px;
}

.selection {
  margin-bottom: 56px;
}

.section--carousel {
  margin-bottom: 56px;
}

.information {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  color: #210E22;
}
.information p {
  text-align: justify;
}
@media screen and (max-width: 1400px) {
  .information {
    font-size: 12px;
    line-height: 1.25;
  }
}

.preview-list__link {
  color: #210E22;
  text-decoration: none;
  transition: opacity 0.3s;
}
.preview-list__link:hover {
  color: #494949;
  opacity: 0.7;
}
.preview-list__link--brands-sticker {
  position: relative;
}
.preview-list__link--brands-sticker:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 749px;
  background: url(../img/brands-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .preview-list__link--brands-sticker:before {
    display: none;
  }
}
.preview-list__link--series-sticker {
  position: relative;
}
.preview-list__link--series-sticker:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 749px;
  background: url(../img/series-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .preview-list__link--series-sticker:before {
    display: none;
  }
}
.preview-list__logo {
  max-width: 150px;
  margin-right: 8px;
}
.preview-list__logo img {
  max-width: 150px;
  max-height: 100px;
}
.preview-list__title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #494949;
}
@media screen and (max-width: 1400px) {
  .preview-list__title {
    font-size: 15px;
  }
}
.preview-list__discription {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 600;
  color: #210E22;
  max-width: 910px;
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  .preview-list__discription {
    font-size: 12px;
  }
}

.brand--sticker {
  position: relative;
}
.brand--sticker:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 749px;
  background: url(../img/brand-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .brand--sticker:before {
    display: none;
  }
}

.producer__sticker {
  position: relative;
}
.producer__sticker:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 749px;
  background: url(../img/produser-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .producer__sticker:before {
    display: none;
  }
}
.producer__logo {
  min-height: 240px;
  display: flex;
  align-items: center;
}
.producer__logo img {
  max-height: 250px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1400px) {
  .producer__logo img {
    max-height: 125px;
  }
}

.series__sticker {
  position: relative;
}
.series__sticker:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 749px;
  background: url(../img/one-series-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .series__sticker:before {
    display: none;
  }
}
.series__logo {
  min-height: 240px;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .series__logo {
    min-height: 150px;
  }
}
.series__logo img {
  max-height: 250px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1400px) {
  .series__logo img {
    width: auto;
    max-width: 100%;
    max-height: 125px;
  }
}

.tag {
  display: inline-flex;
  padding: 2px 10px;
  border-radius: 15px;
  background: #E8E8E8;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 600;
  color: #494949;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
  visibility: visible;
  position: relative;
  margin: 0 19px 10px 0;
}
@media screen and (max-width: 1400px) {
  .tag {
    font-size: 10px;
    margin: 0 10px 0 0;
  }
}
.tag:hover {
  opacity: 0.7;
  color: #494949;
}
.tag.hide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.tag--dots {
  cursor: pointer;
}

.favorite {
  background: url(../img/favorite-heart.svg) no-repeat;
  background-size: contain;
}
.favorite.active {
  background-image: url(../img/favorite-heart-full.svg);
}
.favorite--brand {
  width: 30px;
  height: 28px;
  border: none;
  transition: 0.3s;
}
@media screen and (max-width: 1400px) {
  .favorite--brand {
    width: 23px;
    height: 23px;
    background-size: contain;
  }
}
.favorite--product {
  width: 17px;
  height: 15px;
  position: absolute;
  top: 11px;
  right: 20px;
  z-index: 2;
  border: none;
  transition: 0.3s;
}
.favorite--product-full {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding-left: 60px;
  transition: 0.3s;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #E31E24;
  background-size: 47px;
}

.product-header--sticker {
  position: relative;
}
.product-header--sticker:before {
  content: "";
  position: absolute;
  top: 118px;
  left: 30px;
  width: 53px;
  height: 500px;
  background: url(../img/product-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .product-header--sticker:before {
    display: none;
  }
}
.product-header__title {
  color: #0E0E0E;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.25;
}
@media screen and (max-width: 1400px) {
  .product-header__title {
    color: #494949;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.users-feedback__header {
  font-weight: 600;
  font-size: 30px;
  color: #494949;
}
.users-feedback__header a {
  color: #494949;
  text-decoration: none;
  transition: opacity 0.3s;
}
.users-feedback__header a:hover {
  opacity: 0.7;
}

.user-feedback {
  justify-content: start;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
  text-decoration: none;
  color: #210E22;
  transition: opacity 0.3s;
}
.user-feedback:hover {
  color: #210E22;
  opacity: 0.7;
}
.user-feedback__name {
  font-size: 20px;
  line-height: 1.2;
}
.user-feedback__date {
  font-size: 12px;
}
.user-feedback__avatar {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.user-feedback__avatar img {
  max-width: 200%;
}
.user-feedback__photos {
  display: flex;
  justify-content: start;
}
.user-feedback__photos:has(.user-feedback__photo:nth-child(3)) {
  justify-content: space-between;
}
.user-feedback__photos:has(.user-feedback__photo:nth-child(3)) .user-feedback__photo {
  margin-right: 0;
}
.user-feedback__photo {
  width: 90px;
  height: 120px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(14, 14, 14, 0.1);
  overflow: hidden;
  margin-right: 12px;
}
.user-feedback__photo img {
  max-width: 200%;
  max-height: 200%;
}
.user-feedback__num {
  width: 90px;
  height: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1560BD;
  font-size: 30px;
  font-weight: 600;
}
.user-feedback__popup-link {
  border: none;
  background-color: #FAFAFA;
  color: #1560BD;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.user-feedback p {
  margin-bottom: 10px;
}

.about-product__item {
  background: #FAFAFA;
  border: 0;
}
.about-product__title {
  font-size: 30px;
  font-weight: 600;
  color: #494949;
  background-color: #FAFAFA;
  padding: 0;
}
.about-product__title:focus {
  border-color: none;
  box-shadow: none;
}
.about-product__title::after {
  width: 28px;
  height: 11px;
  background-image: url(../img/arrow-text.svg);
  margin-left: 10px;
  margin-right: 0;
  transform: rotate(180deg);
}
.about-product__title:not(.collapsed) {
  color: #494949;
  background-color: inherit;
  box-shadow: none;
}
.about-product__title:not(.collapsed)::after {
  background-image: url(../img/arrow-text.svg);
  transform: rotate(0);
  margin-left: 20px;
  margin-right: 0;
}
.about-product__information {
  padding-left: 0;
  padding-right: 0;
}

.gallary {
  font-weight: 600;
  font-size: 30px;
  color: #494949;
}
.gallary a {
  color: #494949;
  text-decoration: none;
  transition: opacity 0.3s;
}
.gallary a:hover {
  opacity: 0.7;
}

.top-bar {
  position: relative;
  padding-top: 126px;
  margin-bottom: 22px;
}
@media screen and (max-width: 1400px) {
  .top-bar {
    padding-top: 28px;
    padding-bottom: 19px;
    margin-bottom: 15px;
  }
}
.top-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 208px;
  background: linear-gradient(180deg, #194071 28.44%, #1560BD 100%);
}
@media screen and (max-width: 1400px) {
  .top-bar::before {
    height: 100%;
  }
}
.top-bar__collapse {
  flex-wrap: wrap;
}
@media screen and (max-width: 1400px) {
  .top-bar__collapse {
    padding-top: 40px;
  }
}
.top-bar__logo {
  display: block;
  max-width: 268px;
  margin-bottom: 68px;
  margin-right: 186px;
}
.top-bar__logo img {
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .top-bar__logo {
    position: absolute;
    top: 0;
    left: 70px;
    opacity: 0;
    transition: opacity 1s;
  }
  .show .top-bar__logo {
    opacity: 1;
  }
}
.top-bar__short-logo {
  width: 50px;
  margin-left: 25px;
  opacity: 1;
  transition: opacity 1s;
}
[aria-expanded=true] + .top-bar__short-logo {
  opacity: 0;
}
.top-bar__short-logo img {
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .top-bar__list {
    margin-bottom: 62px;
  }
}
.top-bar__links {
  margin-right: 8.3333333333%;
  padding-top: 5px;
}
@media screen and (max-width: 1400px) {
  .top-bar__links {
    margin-right: 0;
  }
  .show ~ .top-bar__links {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .top-bar__links {
    margin-right: 8.3333333333%;
  }
}
.top-bar__link {
  margin-left: 45px;
  transition: opacity 0.3s;
}
@media screen and (max-width: 1400px) {
  .top-bar__link {
    margin-left: 30px;
  }
}
.top-bar__link:hover {
  opacity: 0.7;
}

.search-form {
  position: relative;
  width: 510px;
  height: 43px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 68px;
}
@media screen and (max-width: 1400px) {
  .search-form {
    width: 100%;
    margin-bottom: 40px;
  }
}
.search-form__input {
  display: inline-block;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 px #CCCCCC;
  background: #FAFAFA;
  padding: 0;
  padding-right: 35px;
  padding-left: 43px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
  -webkit-appearance--moz-appearance: none;
  -webkit-appearance--moz-appearance-appearance: none;
}
.search-form__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 25px 0 0 25px;
  background: #FAFAFA url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAILSURBVHgBnVRBctMwFH2SDcOqmIEAO8IN4AbxFBasmpwAdbgAN2g4AfQEUU/QsGIBwbkBvgFeMgVm3F2H1BbvW07ipEnb+M149C1Lz09f73+FDXhkvvYU9AGgeg6uq4DIAbmCSgF3MsO/aW7fZJv2quZLZE6jEHsjTvZxA/jD4ZmNP6zP6yXZl+4d7P0QMlFDJccOZTyDfvDb7isZS7iBKJT1/DbsmO9JZJJo9UcLsrsJwy6XpgGCwS8bZ9vU1SkZyXoSjM/s/mBFIcmO5mQzBPF1ZII/9vU0gI7lJHz6T8zk/UJhre6nfAyhX95E1sRD862voU4Z5kzJ89zGua7VydnHu5AJ/tpXY+6cMuRlXr6QOU1bVAGTfIIWcCg+e0GqcoZmUBFKXtACDirzhHIHDdu0hYLLZSyB+xWh9xyT8G7yDC1AhVGt7LwafTkBQVHEaAHe8oFX6Ka1Qp9UjfAtdoRYjoOROEQ4rnguEdq61HpNg94Gc8sRdm45LWakdQ69bHzsHCa3UvrYJEJmRAyrZtEkqlsWg9KHftKVtmMmo/o4VyB1LE1BmoO88w6yC1wsvqu1xUMW/dFyRqrApdx8znm6QDzrC4HI6rErMXtkLD1SrSt4apJugWLIzRuP7vNdHjP3n+7xXgqUSZNUYQukzwUo2KYUF5eRpJtjSqJU8r4qYEm6lXAXNEjxH55k15h3Fd+TAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 43px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
  -webkit-user-select--moz-user-select: none;
  -webkit-user-select--ms-user-select: none;
  -webkit-user-select--ms-user-select-user-select: none;
  transition: opacity 0.3s;
  cursor: pointer;
  opacity: 0.7;
}
.search-form__submit:focus {
  outline: 0;
  box-shadow: none;
}

.search-form__input::-webkit-search-decoration, .search-form__input::-webkit-search-cancel-button, .search-form__input::-webkit-search-results-button, .search-form__input::-webkit-search-results-decoration {
  display: none;
}

.search-form__input:focus, .search-form__input:active {
  outline: 0;
  box-shadow: none;
}

.search-form__input::-moz-placeholder {
  color: #1560BD;
}

.search-form__input::placeholder {
  color: #1560BD;
}

.articles {
  margin-bottom: 16px;
}
@media screen and (max-width: 1400px) {
  .articles {
    margin-bottom: 11px;
  }
}
.articles__sticker {
  position: relative;
}
.articles__sticker:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 749px;
  background: url(../img/articles-sticker.svg) no-repeat;
}
@media screen and (max-width: 1400px) {
  .articles__sticker:before {
    display: none;
  }
}
.articles__item {
  height: 100%;
  display: block;
  padding: 20px 18px;
  background: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #210E22;
  border-radius: 15px;
  transition: opacity 0.5s;
}
@media screen and (max-width: 1400px) {
  .articles__item {
    padding: 15px 10px;
    font-size: 12px;
    line-height: 1.25;
  }
}
.articles__item:hover {
  color: #210E22;
  opacity: 0.8;
}
.articles__info {
  margin-bottom: 24px;
}
@media screen and (max-width: 1400px) {
  .articles__info {
    margin-bottom: 10px;
  }
}
.articles__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 1400px) {
  .articles__title {
    font-size: 14px;
    line-height: 1.2;
  }
}
.articles__date {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #494949;
}
@media screen and (max-width: 1400px) {
  .articles__date {
    font-size: 13px;
    line-height: 1.23;
  }
}
.articles__img {
  max-width: 100%;
  margin-bottom: 24px;
  border-radius: 15px;
}
@media screen and (max-width: 1400px) {
  .articles__img {
    margin-bottom: 10px;
  }
}

.catalog, .catalog-new {
  margin-bottom: 14px;
}
.catalog__list, .catalog-new__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog__list--full, .catalog-new__list--full {
  justify-content: start;
}
.catalog__item, .catalog-new__item {
  position: relative;
  color: #1560BD;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  text-decoration: none;
  transition: color 0.5s;
}
@media screen and (max-width: 1400px) {
  .catalog__item, .catalog-new__item {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
}
.catalog__item:hover, .catalog-new__item:hover {
  color: #E31E24;
}
.catalog__item:last-child, .catalog-new__item:last-child {
  display: none;
}
@media screen and (max-width: 1400px) {
  .catalog__item:last-child, .catalog-new__item:last-child {
    display: block;
  }
}
.catalog__list--full .catalog__item:last-child, .catalog__list--full .catalog-new__item:last-child {
  display: block;
}
.catalog__img, .catalog-new__img {
  max-width: 100%;
  box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1400px) {
  .catalog__img, .catalog-new__img {
    border-radius: 10px;
  }
}
.catalog__contacts, .catalog-new__contacts {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
}
@media screen and (max-width: 1400px) {
  .catalog__contacts, .catalog-new__contacts {
    font-size: 12px;
    line-height: 1.25;
  }
}
@media screen and (max-width: 1400px) {
  .catalog__icon, .catalog-new__icon {
    max-width: 23px;
  }
  .catalog__icon--flag, .catalog-new__icon--flag {
    max-width: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .catalog__social, .catalog-new__social {
    max-width: 23px;
  }
}
.catalog__link-all, .catalog-new__link-all {
  color: #1560BD;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  text-transform: lowercase;
  text-decoration: none;
  transition: color 0.5s;
}
.catalog__link-all:hover, .catalog-new__link-all:hover {
  color: #E31E24;
}
@media screen and (max-width: 1400px) {
  .catalog__link-all, .catalog-new__link-all {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.5px;
  }
}

.catalog-new__list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 53px;
  height: 238px;
  background: url(../img/new-products.png) no-repeat;
}
@media screen and (max-width: 1400px) {
  .catalog-new__list:before {
    display: none;
  }
}
.catalog-new__item:before {
  content: "New";
  position: absolute;
  top: 15px;
  right: 27px;
  width: 36px;
  height: 17px;
  background: #1560BD;
  border-radius: 10px;
  color: #FAFAFA;
  font-size: 10px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .catalog-new__item:before {
    display: none;
  }
}

.footer {
  min-height: 441px;
  background: linear-gradient(180deg, #194071 28.44%, #1560BD 100%);
  color: #FAFAFA;
}
@media screen and (max-width: 1400px) {
  .footer__container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }
}
.footer__nav {
  margin-bottom: 99px;
}
@media screen and (max-width: 1400px) {
  .footer__nav {
    margin-bottom: 54px;
    order: 2;
  }
}
.footer__title {
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 1400px) {
  .footer__title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
.footer__list a {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #FAFAFA;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__list a:hover {
  color: #E31E24;
}
@media screen and (max-width: 768px) {
  .footer__list a {
    font-size: 10px;
    line-height: 1.2;
  }
}
.footer__logo {
  margin-bottom: 23px;
}
.footer__logo img {
  max-width: 100%;
}
@media screen and (max-width: 1400px) {
  .footer__logo {
    margin-bottom: 40px;
    order: 1;
  }
}
.footer__social {
  display: block;
  width: 47px;
  height: 47px;
  margin: 0 auto;
  transition: opacity 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__social:hover {
  opacity: 0.7;
}
.footer__social--email {
  background-image: url("../img/email.svg");
}
.footer__social--telegram {
  background-image: url("../img/telegram.svg");
}
.footer__social--vk {
  background-image: url("../img/vk.svg");
}
@media screen and (max-width: 768px) {
  .footer__social {
    width: 29px;
    height: 29px;
  }
}

.auth__content {
  max-width: 674px;
  margin: 0 auto;
  padding: 36px 56px 50px;
  border-radius: 15px;
}
@media screen and (max-width: 1400px) {
  .auth__content {
    padding: 28px 20px 30px;
  }
}
.auth__content--authorized {
  max-width: 511px;
  padding: 30px 20px;
}
.auth__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #1560BD;
}
@media screen and (max-width: 1400px) {
  .auth__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
  }
}
.auth__sub-title {
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1560BD;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .auth__sub-title {
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 9px;
  }
}
.auth__group {
  flex-wrap: wrap;
}
.auth__invalid {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #E31E24;
}
@media screen and (max-width: 1400px) {
  .auth__invalid {
    font-size: 10px;
    line-height: 12px;
  }
}
.auth__invalid--unchecked {
  display: block;
}
.auth__label {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #D9D9D9;
}
@media screen and (max-width: 1400px) {
  .auth__label {
    font-size: 10px;
    line-height: 12px;
  }
}
.auth__btn {
  border: 3px solid #1560BD;
  border-radius: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  text-align: center;
  text-transform: uppercase;
  color: #1560BD;
}
@media screen and (max-width: 1400px) {
  .auth__btn {
    order: 2;
  }
}
.auth__btn:hover {
  background-color: #E31E24;
  border-color: #E31E24;
  color: #FAFAFA;
}
.auth__btn--primary {
  color: #FAFAFA;
  background: #1560BD;
}
@media screen and (max-width: 1400px) {
  .auth__btn--primary {
    order: 1;
    margin-bottom: 10px;
  }
}
.auth__avatar {
  width: 96px;
  height: 96px;
  padding: 0;
  margin-right: 27px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1400px) {
  .auth__avatar {
    width: 76px;
    height: 76px;
  }
}
.auth__avatar img {
  max-width: 100%;
}
.auth__user {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
.auth__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}
@media screen and (max-width: 1400px) {
  .auth__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
  }
}
.auth__conf {
  color: #1560BD;
  text-decoration: none;
}
.auth__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: #494949;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}
.auth__link:hover {
  color: #E31E24;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
.rating__body {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.rating__body::before {
  content: "";
  width: 104px;
  height: 18px;
  background: url(../img/raiting-stars-empty.svg) no-repeat;
  background-size: contain;
  display: block;
}
@media screen and (max-width: 1400px) {
  .rating__body::before {
    width: 100px;
  }
}
.rating__active {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.rating__active::before {
  content: "";
  width: 104px;
  height: 18px;
  background: url(../img/raiting-stars-full.svg) no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1400px) {
  .rating__active::before {
    width: 100px;
  }
}
.rating--lage .rating__active::before {
  width: 158px;
  height: 28px;
}
.rating--lage .rating__body::before {
  width: 158px;
  height: 28px;
}
.rating--sm .rating__active::before {
  width: 93px;
  height: 15px;
}
.rating--sm .rating__body::before {
  width: 93px;
  height: 15px;
}/*# sourceMappingURL=style.css.map */
>>>>>>> e4f23de (add modal img)
