@import "vars.sass"

body 
    font-family: 'Gilroy' 
    font-style: normal
    background: $sub-color 

.container
    &--header
        @media screen and (max-width: $first-breack-point) 
            max-width: 720px
            padding: 0 
        @media screen and (max-width: $second-breack-point) 
            max-width: 360px
            padding: 0 22px
    &--bc
        padding: 0
        @media screen and (max-width: $first-breack-point) 
            max-width: 720px
        @media screen and (max-width: $second-breack-point) 
            max-width: 360px
            padding-right: var(--bs-gutter-x,.75rem)
            padding-left: var(--bs-gutter-x,.75rem)

.title
    &--h1
        font-weight: 700
        font-size: 36px
        line-height: 1.25
        color: #494949
    &--h2
        display: block
        margin-bottom: 16px
        font-weight: 700
        font-size: 36px
        line-height: 1.25
        color: #494949
        text-transform: uppercase
        text-decoration: none
        transition: opacity .3s
        &:hover            
            color: #494949
            opacity: .8            
        @media screen and (max-width: $first-breack-point) 
            font-size: 20px
            line-height: 1.25
            margin-bottom: 0
    &--sub
        font-weight: 700
        font-size: 30px
        line-height: 37px

.btn
    &--base
        padding: 10px 25px
        background: $main-color
        border-radius: 60px
        color: $sub-color
        font-weight: 600
        font-size: 18px
        line-height: 1.22222
        text-transform: uppercase
        transition: background 0.3s
        &:hover 
            color: $sub-color
            background: $pre-color

main    
    @media screen and (max-width: $first-breack-point) 
        max-width: 720px
        margin: 0 auto
    @media screen and (max-width: $second-breack-point) 
        max-width: 360px
        padding: 0 10px


.slider 
    margin-bottom: 56px


.selection
    margin-bottom: 56px

.section
    &--carousel
        margin-bottom: 56px

.information
    font-weight: 600
    font-size: 18px
    line-height: 22px

.brands-list
    &__logo
        max-width: 150px
        margin-right: 8px
        img
            max-width: 150px
            max-height: 100px
    &__title
        font-size: 30px
        font-weight: 600
        letter-spacing: 0.5px
        color: #494949
        text-decoration: none
        text-transform: uppercase
        transition: opacity .3s
        &:hover
            color: #494949
            opacity: .7           
    &__discription
        font-size: 18px
        font-weight: 600 
        color: #210E22
        max-width: 910px
    &__sticker
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            left: 30px
            width: 53px
            height: 749px
            background: url(../img/brand-sticker.svg) no-repeat     
            @media screen and (max-width: $first-breack-point)
                display: none


.producer
    &__sticker
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            left: 30px
            width: 53px
            height: 749px
            background: url(../img/produser-sticker.svg) no-repeat     
            @media screen and (max-width: $first-breack-point)
                display: none