@import "vars.sass"

html
    height: 100dvh

body
    height: 100%
    font-family: 'Gilroy', sans-serif
    font-style: normal
    background: $sub-color

main
    @media screen and (max-width: $first-breack-point)
        max-width: 720px
        margin: 0 auto
    @media screen and (max-width: $second-breack-point)
        max-width: 360px
        padding: 0 10px

a
    text-decoration: none
    margin-bottom: 0

p
    margin-bottom: 0

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    margin-top: 0
    margin-bottom: 0

textarea
    resize: none

.container
    &--header
        @media screen and (max-width: $first-breack-point)
            max-width: 720px
            padding: 0
        @media screen and (max-width: $second-breack-point)
            max-width: 360px
            padding: 0 22px
    &--bc
        padding: 0
        @media screen and (max-width: $first-breack-point)
            max-width: 720px
        @media screen and (max-width: $second-breack-point)
            max-width: 360px
            padding-right: var(--bs-gutter-x,.75rem)
            padding-left: var(--bs-gutter-x,.75rem)

.page-title
    margin-top: 15px
    margin-bottom: 27px
    @media screen and (min-width: $first-breack-point)
        row-gap: 35px
        margin-top: 30px
        margin-bottom: 58px

.question
    width: 15px
    height: 15px
    @media screen and (min-width: $first-breack-point)
        width: 30px
        height: 30px
    &__cloud
        position: absolute
        background: $sub-color
        color: $dark-lighter
        box-shadow: $box-shadow-regular
        border-radius: 10px
        font-size: 10px
        font-style: normal
        font-weight: 600
        line-height: normal
        visibility: hidden
        transition: 0.3s
        opacity: 0
        z-index: 100
        @media screen and (min-width: $first-breack-point)
            font-size: 15px
        &.open
            visibility: visible
            opacity: 1

.file-input
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0
    cursor: pointer

.border--right
    border-right: 1px solid $dark-color

.inherit
    &:hover
        color: inherit
        opacity: inherit



.banners
    &__add
        &-btn
            padding: 0
            width: 50px
            height: 50px
            @media screen and (min-width: $second-breack-point)
                width: 42px
                height: 42px
        &-image
            width: 100%

.hover
    &-red
        &:hover
            transition: all .3s
            color: $pre-color
            path
                transition: all .3s
                fill: $pre-color
    &-blue
        &:hover
            transition: all .3s
            color: $main-color
            path
                transition: all .3s
                fill: $main-color

    &-opacity
        &:hover
            transition: all .3s
            opacity: 0.8
            path
                transition: all .3s
                opacity: 0.8

// === Text ===

.title, .text
    &--h1
        font-weight: 700
        font-size: 36px
        line-height: 1.25
        color: #494949
        @media screen and (max-width: $first-breack-point)
            font-size: 20px
            font-weight: 700
    &--h2
        display: block
        margin-bottom: 16px
        font-weight: 700
        font-size: 36px
        line-height: 1.25
        color: #494949
        text-transform: uppercase
        text-decoration: none
        transition: opacity .3s
        &:hover
            color: #494949
            opacity: .8
        @media screen and (max-width: $first-breack-point)
            font-size: 20px
            line-height: 1.25
            margin-bottom: 0
    &--h3
        color: $dark-semi-light
        font-size: 15px
        font-style: normal
        font-weight: 700
        line-height: normal
        letter-spacing: 0.5px
        text-transform: uppercase
        @media screen and (min-width: $first-breack-point)
            font-size: 36px
    &--h4
        color: #494949
        font-size: 15px
        font-style: normal
        font-weight: 700
        line-height: normal
        letter-spacing: 0.5px
        text-transform: uppercase
        @media screen and (min-width: $first-breack-point)
            font-size: 24px
    &--h5
        color: $dark-lighter
        font-size: 10px
        font-style: normal
        font-weight: 600
        line-height: normal
        @media screen and (min-width: $first-breack-point)
            font-size: 15px
    &--20-36
        font-size: 20px
        text-transform: uppercase
        font-weight: 700
        line-height: 1.25
        letter-spacing: 0.5px
        color: $dark-semi-light
        @media screen and (max-width: $first-breack-point)
            font-size: 36px
    &--20-36
        font-size: 20px
        font-weight: 700
        letter-spacing: 0.5px
        @media screen and (min-width: $first-breack-point)
            font-size: 36px
    &--20-30
        font-size: 20px
        font-weight: 700
        line-height: 37px
        @media screen and (min-width: $first-breack-point)
            font-size: 30px
            font-weight: 600
            line-height: 1.25
     &__under
        font-size: 30px
        color: $main-color
    &--sub
        font-weight: 700
        font-size: 30px
        line-height: 1.25
        color: #494949
        @media screen and (max-width: $first-breack-point) 
            font-size: 20px
            font-weight: 600
            line-height: 1.25
    &__under
        font-size: 30px
        color: $main-color
        @media screen and (max-width: $first-breack-point) 
            font-size: 15px

.btn
    height: 41px
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 0 25px
    border-radius: 60px
    font-weight: 600
    font-size: 18px
    line-height: 1.22222
    text-transform: uppercase
    transition: 0.3s
    @media screen and (max-width: $first-breack-point)
        height: 27px
        padding: 0 20px
        border-radius: 50px
        font-size: 10px
    &--base, &--empty
        &:hover
            color: $sub-color
            background: $pre-color
            border-color: $pre-color
    &--base
        background: $main-color
        color: $sub-color
    &--empty
        background: initial
        border: 2px solid $main-color
        color: $main-color
    &--delete
        background: $pre-color
        color: $sub-color
        &:hover
            color: $sub-color
            opacity: 0.8

    &__svg
        &-confirm
            svg
                width: 2rem
                @media screen and (min-width: $first-breack-point)
                    width: 3rem
    &__card
        &-blue
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            padding: 16px 0
            border-radius: 10px
            background: $white-color
            box-shadow: $box-shadow-regular
            color: $main-color
            font-size: 15px
            font-style: normal
            font-weight: 600
            line-height: normal
            text-transform: uppercase
            &-wrapper
                position: relative
                width: 100%
                i.tag-count
                    position: absolute
                    top: -11px
                    right: -11px
                    width: 22px
                    height: 22px
                    background-color: $pre-color
                    -webkit-border-radius: 50px
                    -moz-border-radius: 50px
                    border-radius: 50px
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $sub-color
                    font-size: 10px
                    font-style: normal
                    font-weight: 700
                    line-height: normal
                    text-transform: uppercase
                    cursor: pointer
            @media screen and (min-width: $first-breack-point)
                font-size: 24px
            svg
                width: 17px
                height: 17px
                margin-right: 8px
                @media screen and (min-width: $first-breack-point)
                    width: 37px
                    height: 37px




.slider
    margin-bottom: 56px
    @media screen and (max-width: $second-breack-point) 
        margin-bottom: 40px

.selection
    margin-bottom: 56px

.section
    &--carousel
        margin-bottom: 56px

.information
    font-weight: 600
    font-size: 18px
    line-height: 1.25
    color: #210E22
    p
        text-align: justify
    @media screen and (max-width: $first-breack-point)
        font-size: 12px
        line-height: 1.25

.preview-list
    &__link
        color: #210E22
        text-decoration: none
        transition: opacity .3s
        &:hover
            color: #494949
            opacity: .7
        &--brands-sticker
            position: relative
            &:before
                content: ""
                position: absolute
                top: 0
                left: 30px
                width: 53px
                height: 749px
                background: url(../img/brands-sticker.svg) no-repeat
                @media screen and (max-width: $first-breack-point)
                    display: none
        &--series-sticker
            position: relative
            &:before
                content: ""
                position: absolute
                top: 0
                left: 30px
                width: 53px
                height: 749px
                background: url(../img/series-sticker.svg) no-repeat
                @media screen and (max-width: $first-breack-point)
                    display: none
    &__logo
        max-width: 150px
        margin-right: 8px
        img
            max-width: 150px
            max-height: 100px
    &__title
        font-size: 30px
        font-weight: 600
        letter-spacing: 0.5px
        color: #494949
        @media screen and (max-width: $first-breack-point)
            font-size: 15px
    &__discription
        font-size: 18px
        line-height: 1.25
        font-weight: 600
        color: #210E22
        max-width: 910px
        text-decoration: none
        @media screen and (max-width: $first-breack-point)
            font-size: 12px

.brand
    &--sticker
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            left: 30px
            width: 53px
            height: 749px
            background: url(../img/brand-sticker.svg) no-repeat
            @media screen and (max-width: $first-breack-point)
                display: none

.producer
    &__sticker
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            left: 30px
            width: 53px
            height: 749px
            background: url(../img/produser-sticker.svg) no-repeat
            @media screen and (max-width: $first-breack-point)
                display: none
    &__logo
        min-height: 240px
        display: flex
        align-items: center
        img
            max-height: 250px
            height: fit-content
            @media screen and (max-width: $first-breack-point)
                max-height: 125px

.series
    &__sticker
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            left: 30px
            width: 53px
            height: 749px
            background: url(../img/one-series-sticker.svg) no-repeat
            @media screen and (max-width: $first-breack-point)
                display: none
    &__logo
        min-height: 240px
        align-items: center
        @media screen and (max-width: $first-breack-point)
            min-height: 150px
        img
            max-height: 250px
            height: fit-content
            @media screen and (max-width: $first-breack-point)
                width: auto
                max-width: 100%
                max-height: 125px

.tag
    display: inline-flex
    padding: 2px 10px
    border-radius: 15px
    background: #E8E8E8
    font-size: 18px
    line-height: 1.25
    font-weight: 600
    color: #494949
    text-decoration: none
    opacity: 1
    transition: opacity .3s
    visibility: visible
    position: relative
    margin: 0 19px 10px 0
    @media screen and (max-width: $first-breack-point)
        font-size: 10px
        margin: 0 10px 0 0
    &:hover
        opacity: .7
        color: #494949
    &.hide
        position: absolute
        visibility: hidden
        opacity: 0
    &--dots
        cursor: pointer

.favorite
    background: url(../img/favorite-heart.svg) no-repeat
    background-size: contain
    &.active
        background-image: url(../img/favorite-heart-full.svg)
    &--brand
        width: 30px
        height: 28px
        border: none
        transition: .3s
        @media screen and (max-width: $first-breack-point)
            width: 23px
            height: 23px
            background-size: contain
    &--product
        width: 17px
        height: 15px
        position: absolute
        top: 11px
        right: 20px
        z-index: 2
        border: none
        transition: .3s
    &--product-full
        width: fit-content
        border: none
        padding-left: 60px
        transition: .3s
        font-size: 30px
        font-weight: 600
        text-transform: uppercase
        color: $pre-color
        background-size: 47px
        @media screen and (max-width: $first-breack-point)
            padding-left: 40px
            font-size: 15px 
            background-size: contain

.product-header
    &--sticker
        position: relative
        &:before
            content: ""
            position: absolute
            top: 118px
            left: 30px
            width: 53px
            height: 500px
            background: url(../img/product-sticker.svg) no-repeat     
            @media screen and (max-width: $first-breack-point)
                display: none
    &__title
        color: #0E0E0E
        font-weight: 600
        font-size: 30px
        line-height: 1.25
        @media screen and (max-width: $first-breack-point)
            color: #494949
            font-size: 15px
            text-transform: uppercase
    &__flag
        @media screen and (max-width: $first-breack-point)
            width: 65px
            height: 65px
    &__logo
        @media screen and (max-width: $first-breack-point)
            height: 65px

.users-feedback    
    &__header
        font-weight: 600
        font-size: 30px
        color: #494949
        @media screen and (max-width: $first-breack-point)
            font-size: 15px
        a
            color: #494949
            text-decoration: none
            transition: opacity .3s
            &:hover
                opacity: .7

.user-feedback 
    height: 364px
    justify-content: start    
    padding: 20px
    border-radius: $border-radius
    box-shadow: $box-shadow-sm
    font-size: 15px
    font-weight: 600
    line-height: 1.1
    text-decoration: none
    color: #210E22
    transition: opacity .3s
    @media screen and (max-width: $first-breack-point)
        height: 301px
        padding: 5px 20px
        font-size: 12px
    &:hover
        color: #210E22
        opacity: .7
    &--questions
        height: 274px
        @media screen and (max-width: $first-breack-point)
            height: 223px
    &__name
        font-size: 20px
        line-height: 1.2
        @media screen and (max-width: $first-breack-point)
            font-size: 15px
            margin-bottom: 6px
    &__date
        font-size: 12px
    &__avatar
        width: 60px
        height: 60px
        display: inline-flex
        align-items: center
        justify-content: center
        border-radius: 50%
        overflow: hidden
        @media screen and (max-width: $first-breack-point)
            width: 40px
            height: 40px
        img
            max-width: 200%
    &__photos
        display: flex
        justify-content: start    
        &:has(.user-feedback__photo:nth-child(3))
            justify-content: space-between 
            .user-feedback__photo
                margin-right: 0

    &__photo
        width: 90px
        height: 120px
        border-radius: $border-radius
        box-shadow: 0px 3px 5px rgba(14, 14, 14, 0.1)
        overflow: hidden
        margin-right: 12px
        @media screen and (max-width: $first-breack-point)
            width: 66px
            height: 88px
        img
            max-width: 200%
            max-height: 200%
    &__num
        width: 90px
        height: 120px
        display: inline-flex
        justify-content: center
        align-items: center
        color: $main-color
        font-size: 30px
        font-weight: 600
        @media screen and (max-width: $first-breack-point)
            width: 66px
            height: 88px
    &__popup-link
        border: none
        background-color: $sub-color
        color: $main-color
        font-size: 30px
        font-weight: 600
        text-decoration: none
        cursor: pointer
        @media screen and (max-width: $first-breack-point)
            font-size: 15px
            img
                width: 35px
                height: 35px
    p
        margin-bottom: 10px
    

.about-product
    &__item
        background: $sub-color
        border: 0
    &__title
        font-size: 30px
        font-weight: 600
        line-height: 1.25
        color: #494949
        background-color: $sub-color
        padding: 0
        @media screen and (max-width: $first-breack-point)
            font-size: 15px
            line-height: 1.25
            text-transform: uppercase
        &:focus
            border-color: none
            box-shadow: none
        &::after
            width: 28px
            height: 11px
            background-image: url(../img/arrow-text.svg)
            margin-left: 10px
            margin-right: 0
            transform: rotate(180deg)
            @media screen and (max-width: $first-breack-point)
                width: 14px
                height: 6px
                background-size: 100%
        &:not(.collapsed)
            color: #494949  
            background-color: inherit
            box-shadow: none
            &::after
                background-image: url(../img/arrow-text.svg)
                transform: rotate(0)
                margin-left: 20px
                margin-right: 0
    &__information
        padding-left: 0
        padding-right: 0
        @media screen and (max-width: $first-breack-point)
            padding: 0


.gallary
    font-weight: 600
    font-size: 30px
    line-height: 1.25
    color: #494949
    @media screen and (max-width: $first-breack-point)
        font-size: 15px
    a
        color: #494949
        text-decoration: none
        transition: opacity .3s
        &:hover
            opacity: .7
