
// === Colors ===
$one1-color: blue
$one2-color: green
$one3-color: red

$fon1-color:#99a5bb
$fon2-color:#7dbdb4
$fon2-color:none

$fon3-color:#d49a9a



$txt-color: brown

.btit01
    background-color: $fon1-color
    border: 1px solid  $one1-color
    margin-top: 1px

.btit02
     border-radius: 10%
     background-color:  $fon2-color
     border: 1.5px solid $one2-color
     margin-top: 1.5px

.btit03
     border-radius: 10%
     background-color:  $fon3-color
     border: 1.5px solid $one3-color
     margin-top: 2px

.btxt-01
    color: $txt-color
    margin-top: -6px
    font-size: 100%
    padding-top: 2px

.besedka1
    margin-left: auto
    margin-right: auto
    width: 1080px
    //border: 1.5px solid red

.brow201 
    margin-top: 18px
    //border: 1.5px solid green
    align-items: last baseline 

.brow205 
    //border: 1.5px solid green
    align-items: last baseline    
    font-size: 30px
    color: #494949
    margin-top: 28px

.btxt-201
  color: #494949
  font-size: 36px

.btxt-202
  color: #1560BD
  font-size: 30px

.btxt-204
  color: #FAFAFA
  font-size: 18px



