@import "vars.sass"
@import "test.sass"

@import inputText
@import select2
@import buttonStyle
@import checkBox
@import pagin
.chat
    button
        p
            font-size: 24px
            @media screen and ( max-width: $first-breack-point)
                font-size: 15px
                line-height: 18px
        @media screen and (max-width: $first-breack-point)
            display: flex

a.unlockIcon
    pointer-events: none
    &:after
        background-image: none
.unlockIcon
    &:after
        border: 0px
        background-size: 100%
        border-radius: 0
        flex-shrink: 0
        content: ""
        display: inline-block
        width: 36px
        aspect-ratio: 1
        background-repeat: no-repeat
        background-position: center center
        margin-left: 15px
        margin-top: -2px

        @media screen and (max-width: $first-breack-point)
            width: 20px !important
        background-image: url('../img/unlockGrey.svg')
.bing
    &::after
        border: 0px
        background-size: 100%
        border-radius: 0
        flex-shrink: 0
        content: ""
        display: inline-block
        width: 36px
        aspect-ratio: 1
        background-repeat: no-repeat
        background-position: center center
        margin-left: 15px
        margin-top: -2px

        @media screen and (max-width: $first-breack-point)
            width: 20px !important
        background-image: url('../img/notification-bing.svg')
        
#createRev
    .notice
        left: 38.7%
    @media screen and ( max-width: $first-breack-point )
        .notice
            left: 41.6%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 38.5%
    &::before
        background-image: url('../img/edit.svg')
        border-radius: 0     

.modal-dialog
    max-width: 800px
    .modal-content
        height: fit-content
        border-radius: $border-radius
.chat
    h5
        font-weight: 600
        font-size: 30px
        line-height: 37px
        color: $pre-color
    margin-bottom: 0
.modal-body
    .selectWrap
        width: 100%
        margin: 5px 0
    .select2
        height: auto !important
.modal-footer
    border-top: none
    button
        @media screen and (max-width: $first-breack-point)
            display: flex
        &::before
            display: none
        &:first-child
            padding: 2% 5%
            border-radius: $border-radius
            background-color: $main-color
            color: $sub-color
            font-weight: 700
            font-size: 18px
            line-height: 22px
            margin-bottom: 10px

        &:last-child
            font-weight: 700
            font-size: 18px
            line-height: 29px
            color: $pre-color
#sendMess
    .btn-close
        opacity: 1
        background-image: url('../img/cross-bg-red.svg')
        background-position: center
        background-size: 100%
        @media screen and (min-width: $first-breack-point)
            display: none

.sendMessTech
    #textApeal
        border-radius: $border-radius
    #ava
        width: 100%
        .previewImage
            display: flex
            justify-content: space-between
            @media screen and (max-width: $first-breack-point)
                flex-direction: column
                justify-content: center
                align-items: center
                &_text
                    display: block !important
                    text-align: center
                    width: 100% !important
                    p
                        margin: 10px 0 
            *
                margin: 0 0.5%
            #avatar
                margin: 0
                background-size:60%
            .addImage
                width: calc( 100% / 7 )
                padding: 5px
                background-size:80%
                background-repeat: no-repeat
                background-position: center
                box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1)
                border-radius: $border-radius
                width: 181px
                aspect-ratio: 1
            &_text 
                margin: auto
                width: fit-content
                font-weight: 600
                font-size: 18px
                line-height: 22px
                color: $dark-lighter
                width: 50%
                p
                    font-weight: 600
                    font-size: 18px
                    line-height: 22px
                small
                    font-weight: 600
                    font-size: 18px
                    line-height: 22px
.tech
    justify-content: space-around
    @media screen and (max-width: $first-breack-point)
        flex-direction: column-reverse
        justify-content: center
        align-items: center
    button 
        border-radius: 0
        @media screen and (max-width: $second-breack-point)
            // font-weight: 700 !important
            // font-size: 10px !important
            // line-height: 12px !important
        &::before
            @media screen and (max-width: $first-breack-point)
                width: 34px !important
                margin-right: 10px !important
        &:first-child
            color: $pre-color
            background: #00000000
            
            &::before
                border: 0px
                background-size: 100%
                border-radius: 0
                flex-shrink: 0
                content: ""
                display: inline-block
                width: 34px
                aspect-ratio: 1
                margin-right: 20px
                background-repeat: no-repeat
                background-position: center center
                background-image: url('../img/close-square.svg')
        &:last-child
            color: $main-color
            @media screen and (max-width: $first-breack-point)
                background-color: $main-color
                color: $sub-color
                border-radius: $border-radius 
                padding: 5px 10px
            &::before
                @media screen and (max-width: $first-breack-point)
                    display: none
                border: 0px
                background-size: 100%
                border-radius: 0
                flex-shrink: 0
                content: ""
                display: inline-block
                width: 34px
                aspect-ratio: 1
                margin-right: 20px
                background-repeat: no-repeat
                background-position: center center
                background-image: url('../img/edit.svg')
