@import vars
@import test

.dlsFunctButton
    display: flex
    width: 100% 
    justify-content: space-between
    flex-direction: row-reverse

    @media screen and (max-width: $second-breack-point)
        flex-direction: row
        flex-wrap: wrap 
    button
        margin: 0
        @media screen and (max-width: $first-breack-point)
            display: flex
    .checkWrap
        box-shadow: none
        padding: 0
        margin: 0
        @media screen and (max-width: $second-breack-point)
            width: 100%
        label
            font-size: 24px
            line-height: 28px
            color: $dark-lighter

            &::before
                display: none
            &::after
                display: block
                margin-left: 10px
                margin-right: 0
                width: 29px
                @media screen and (max-width: $first-breack-point) 
                    width: 19px
                    border-radius: 5px 
                    border: 1px solid $colorBorderCheck
                    margin-right: 10px
            @media screen and (max-width: $first-breack-point)
                font-weight: 700
                font-size: 10px
                line-height: 12px                


.brand__title
    margin-bottom: 20px
.wrapHead
    display: flex
    flex-direction: row-reverse
.headPage
    justify-content: space-between
    display: flex
    width: 60%
    align-items: center
    
    h1
        margin: 0
    p
        margin: 0

#saveProfile
    &:before
        background-image: url("../img/tick-circle.svg")

.persData
    display: grid
    grid-template-rows: repeat(4,1fr)
    grid-template-columns: 2fr repeat(6,1fr)
    column-gap: 30px
    
    input
        height: 42px
    *
        width: 100%

#ava
    width: 90%
    grid-row: span 4

#avatar
    border-radius: 50%
    width: 100%
    aspect-ratio: 1
    background-image: url("../img/gallery-add.svg")
    overflow: hidden
    box-shadow: $box-shadow-sm
    background-position: center
    background-repeat: no-repeat
    background-size: 60%
    

#nikname
    grid-column: span 4

#gender, #realName, #partName, #dateBirth, #emailOpen, #selecDerma, #selecHaier
    grid-column: span 2

#phone, #login, #email, #password
    grid-column: span 3

.infOpenProfile
    display: grid
    grid-template-rows: 3fr repeat(2,1fr)
    grid-template-columns: repeat(4,1fr)
    column-gap: 30px
    *
        width: 100%

.descrProf
    grid-column: span 4
    width: 100%

#descrProf
    height: 230px
    resize: none

#saveProf
    background-color: $main-color
    border-radius: $border-radius
    color: $sub-color
    display: none
    width: 98px
    height: 24px
    @media screen and ( max-width: $second-breack-point)
        display: block
    p
        font-size: 10px
        line-height: 12px
        color: $sub-color

    &::before
        display: none

#delProf
    color: $pre-color
    p
        font-size: 24px
        line-height: 29px
        @media screen and ( max-width: $first-breack-point)
            font-weight: 600
            font-size: 15px
            line-height: 18px

    &::before
        background-image: url('../img/info-circle.svg') !important
        width: 27px

.review
    .shell
        @media screen and ( max-width: $second-breack-point)
            flex-direction: column
        display: flex
        width: 75%
        justify-content: space-between
        button
            p
                @media screen and ( max-width: $first-breack-point)
                    font-size: 15px
                    line-height: 18px
            @media screen and (max-width: $first-breack-point)
                display: flex   
        *
            margin: 30px 0
            @media screen and ( max-width: $first-breack-point)
                margin: 7.5px 0
            &::before
                margin: 0
                margin-right: 20px
        #createRev
            &::before
                background-image: url('../img/edit.svg')
                border-radius: 0
        #drafRev
            &::before
                background-image: url('../img/document-copy.svg')
                border-radius: 0
        #publRev
            &::before
                background-image: url('../img/document.svg')
                border-radius: 0
.select
    .shell
        display: flex
        justify-content: space-between
        *
            margin: 30px 0
            @media screen and ( max-width: $first-breack-point)
                margin: 7.5px 0
            &::before
                margin: 0
                margin-right: 20px
        button
            @media screen and (max-width: $first-breack-point)
                display: flex  
            box-shadow: $box-shadow-sm
            border-radius: $border-radius
            width: calc((100% / 3) - 2% )
            align-items: center
            justify-content: center
            p
                margin: 10px 0
                @media screen and ( max-width: $first-breack-point)
                    font-size: 15px
                    line-height: 18px
        #testSelect
            &::before
                background-image: url('../img/')
        #progSelect
            &::before
                background-image: url('../img/')
        #saveSelect
            &::before
                background-image: url('../img/')