.btn__svg-confirm span {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #1560BD;
}
@media screen and (max-width: 1400px) {
  .btn__svg-confirm span {
    display: none;
  }
}

.title--20-36 {
  margin-bottom: 30px;
}

.quest-b {
  margin-bottom: 15px;
}
.quest-b .questText {
  border-radius: 15px;
  background: #1560BD;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
  min-width: 218px;
  margin-bottom: 15px;
}
.quest-b .questText p {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .quest-b .questText p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
}
.quest-b .questText small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 768px) {
  .quest-b .questText small {
    font-size: 12px;
    margin-top: -15px;
  }
}
.quest-b .adaptQuest {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}
.quest-b .adaptQuest p b {
  font-weight: 600 !important;
}

.respOpt {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #494949;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .respOpt {
    font-size: 15px;
    line-height: 17.85px;
    font-weight: 500;
  }
}

.checkInp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.radioInp input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radioInp input[type=radio]:checked + label::before {
  border-color: #FFFFFF;
  background-color: #1560BD;
}
.radioInp input[type=radio]:checked + label::after {
  border-color: #FFFFFF;
  background-color: #1560BD;
}
.radioInp input[type=radio]:not(:disabled):active + label:before {
  border-color: #FFFFFF;
  background-color: #1560BD;
}
.radioInp input[type=radio]:not(:disabled):active + label:after {
  border-color: #FFFFFF;
  background-color: #1560BD;
}
.radioInp input[typy=radio] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radioInp label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.radioInp label::before {
  content: "";
  display: inline-block;
  width: 1.3em;
  aspect-ratio: 1;
  border: 9px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 0.5em;
  -webkit-box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
          box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .radioInp label::before {
    border: 5px solid #FFFFFF;
  }
}
.radioInp label::after {
  content: "";
  width: 1.3em;
  aspect-ratio: 1;
  border: 9px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 50%;
  margin-left: 0.5em;
  -webkit-box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
          box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .radioInp label::after {
    border: 5px solid #FFFFFF;
  }
}
@media screen and (max-width: 768px) {
  .radioInp label::after {
    display: inline-block;
  }
  .radioInp label::before {
    display: none;
  }
}
.radioInp .option {
  margin-bottom: 15px;
}
.radioInp .option label::before {
  display: inline-block;
}
.radioInp .option label::after {
  display: none;
}
.radioInp .option p {
  text-transform: none;
  margin-left: 1.8em;
}
@media screen and (max-width: 768px) {
  .radioInp .option img {
    width: 100%;
  }
}

.adapt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
  grid-template-columns: repeat(4, 25%);
}
@media screen and (max-width: 768px) {
  .adapt {
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
  }
}
.adapt label {
  width: 183px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .adapt label {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: auto;
  }
}

.showResult {
  border-radius: 15px;
  color: #1560BD;
  border: 3px solid #1560BD;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: #FFFFFF;
  padding: 5px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.dlsFunctButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .dlsFunctButton {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.dlsFunctButton button {
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .dlsFunctButton button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.dlsFunctButton .checkWrap {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .dlsFunctButton .checkWrap {
    width: 100%;
  }
}
.dlsFunctButton .checkWrap label {
  font-size: 24px;
  line-height: 28px;
  color: #210E22;
}
.dlsFunctButton .checkWrap label::before {
  display: none;
}
.dlsFunctButton .checkWrap label::after {
  display: block;
  margin-left: 10px;
  margin-right: 0;
  width: 29px;
}
@media screen and (max-width: 1400px) {
  .dlsFunctButton .checkWrap label::after {
    width: 19px;
    border-radius: 5px;
    border: 1px solid #292D32;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .dlsFunctButton .checkWrap label {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
}

.brand__title {
  margin-bottom: 20px;
}

.wrapHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.headPage {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headPage h1 {
  margin: 0;
}
.headPage p {
  margin: 0;
}

#saveProfile:before {
  background-image: url("../img/tick-circle.svg");
}

.persData {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 2fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 2fr repeat(6, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.persData > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.persData > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.persData > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.persData > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.persData > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.persData > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.persData > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.persData > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.persData > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.persData > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.persData > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.persData > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.persData > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.persData > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
}

.persData > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.persData > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.persData > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.persData > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.persData > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.persData > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.persData > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.persData > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.persData > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.persData > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.persData > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.persData > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}

.persData > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
}

.persData > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
}
.persData input {
  height: 42px;
}
.persData * {
  width: 100%;
}

#ava {
  width: 90%;
  -ms-grid-row-span: 4;
  grid-row: span 4;
}

#avatar {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  background-image: url("../img/gallery-add.svg");
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
          box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

#nikname {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

#gender, #realName, #partName, #dateBirth, #emailOpen, #selecDerma, #selecHaier {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

#phone, #login, #email, #password {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.infOpenProfile {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr (1fr)[2];
  grid-template-rows: 3fr repeat(2, 1fr);
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.infOpenProfile > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.infOpenProfile > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.infOpenProfile > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.infOpenProfile > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.infOpenProfile > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.infOpenProfile > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.infOpenProfile > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.infOpenProfile > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.infOpenProfile > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.infOpenProfile > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.infOpenProfile > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.infOpenProfile > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.infOpenProfile * {
  width: 100%;
}

.descrProf {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  width: 100%;
}

#descrProf {
  height: 230px;
  resize: none;
}

#saveProf {
  background-color: #1560BD;
  border-radius: 15px;
  color: #FAFAFA;
  display: none;
  width: 98px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  #saveProf {
    display: block;
  }
}
#saveProf p {
  font-size: 10px;
  line-height: 12px;
  color: #FAFAFA;
}
#saveProf::before {
  display: none;
}

#delProf {
  color: #E31E24;
}
#delProf p {
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 1400px) {
  #delProf p {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }
}
#delProf::before {
  background-image: url("../img/info-circle.svg") !important;
  width: 27px;
}

.review .shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .review .shell {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .review .shell button p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1400px) {
  .review .shell button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.review .shell * {
  margin: 30px 0;
}
@media screen and (max-width: 1400px) {
  .review .shell * {
    margin: 7.5px 0;
  }
}
.review .shell *::before {
  margin: 0;
  margin-right: 20px;
}
.review .shell #createRev::before {
  background-image: url("../img/edit.svg");
  border-radius: 0;
}
.review .shell #drafRev::before {
  background-image: url("../img/document-copy.svg");
  border-radius: 0;
}
.review .shell #publRev::before {
  background-image: url("../img/document.svg");
  border-radius: 0;
}

.select .shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.select .shell * {
  margin: 30px 0;
}
@media screen and (max-width: 1400px) {
  .select .shell * {
    margin: 7.5px 0;
  }
}
.select .shell *::before {
  margin: 0;
  margin-right: 20px;
}
.select .shell button {
  -webkit-box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
          box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  border-radius: 15px;
  width: 31.3333333333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1400px) {
  .select .shell button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.select .shell button p {
  margin: 10px 0;
}
@media screen and (max-width: 1400px) {
  .select .shell button p {
    font-size: 15px;
    line-height: 18px;
  }
}
.select .shell #testSelect::before {
  background-image: url("../img/");
}
.select .shell #progSelect::before {
  background-image: url("../img/");
}
.select .shell #saveSelect::before {
  background-image: url("../img/");
}
/*# sourceMappingURL=index.css.map */