@import vars
@import test
.lk-user
    button
        p
            font-size: 24px
            @media screen and ( max-width: $first-breack-point)
                font-size: 15px
                line-height: 18px
        @media screen and (max-width: $first-breack-point)
            display: flex

.dlsFunctButton
    display: flex
    width: 100% 
    justify-content: space-between
    flex-direction: row-reverse

    @media screen and (max-width: $second-breack-point)
        flex-direction: row
        flex-wrap: wrap 
    button
        margin: 0
    .checkWrap
        box-shadow: none
        padding: 0
        margin: 0
        @media screen and ( max-width: $second-breack-point)
            
        margin-top: 20px
        font-size: 10px
        line-height: 12px
        color: $dark-lighter

        @media screen and (max-width: $second-breack-point)
            width: 100%
        label
            font-size: 24px
            line-height: 28px
            color: $dark-lighter

            &::before
                display: none
            &::after
                display: block
                margin-left: 10px
                margin-right: 0
                width: 29px
                @media screen and (max-width: $first-breack-point) 
                    width: 19px
                    border-radius: 5px 
                    border: 1px solid $colorBorderCheck
                    margin-right: 10px
            @media screen and (max-width: $first-breack-point)
                font-weight: 700
                font-size: 10px
                line-height: 12px                

.brand__title
    margin-bottom: 20px
.wrapHead
    display: flex
    flex-direction: row-reverse
.headPage
    justify-content: space-between
    display: flex
    width: 60%
    align-items: center
    
    h1
        margin: 0
    p
        margin: 0
.infoOpen
    .title--20-36
        margin-bottom: 15px
.profile
    margin-bottom: 20px
.selectWrap
    @media screen and ( max-width: $second-breack-point)
        margin: 0
#saveProfile
    margin-right: -115px
    &:before
        background-image: url("../img/tick-circle.svg")
    @media screen and ( max-width: $first-breack-point)
        margin-right: -4px
    @media screen and ( max-width: $second-breack-point)
        display: none

#selectGender
    @media screen and ( max-width: $second-breack-point)
        height: 26px

.persData
    display: grid
    grid-template-rows: repeat(4,1fr)
    grid-template-columns: 2fr repeat(6,1fr)
    column-gap: 30px
    @media screen and ( max-width: $second-breack-point)
        grid-template-columns: 149px repeat(3,1fr)
        grid-template-rows: repeat(9,1fr)
        column-gap: 0

    input
        height: 42px
        @media screen and ( max-width: $second-breack-point)
            height: 26px

    *
        width: 100%

.d-noneMinSec
    display: none
    @media screen and ( max-width: $second-breack-point )
        display: block
.d-noneMaxSec
    display: block
    @media screen and ( max-width: $second-breack-point )
        display: none
#ava
    width: 90%
    grid-row: span 4
    @media screen and ( max-width: $second-breack-point )
        width: 94%
        grid-row: span 3   

#avatar
    border-radius: 50%
    width: 100%
    aspect-ratio: 1
    background-image: url("../img/gallery-add.svg")
    overflow: hidden
    box-shadow: $box-shadow-sm
    background-position: center
    background-repeat: no-repeat
    background-size: 60%
    @media screen and ( max-width: $second-breack-point )
        border-radius: 20%
    
#nikname, #realName, #partName, #login, #password, #email
    @media screen and ( max-width: $second-breack-point )
        grid-column: span 5 !important
#gender
    @media screen and ( max-width: $second-breack-point )
        .form-select
            font-weight: 700
            font-size: 10px
            line-height: 12px
            color: $dark-lighter

        select
            padding-top: 0
            padding-bottom: 0
#dateBirth
    @media screen and ( max-width: $second-breack-point  )
        padding-top: 0
        padding-bottom: 0
#phone, #dateBirth, #gender
    @media screen and ( max-width: $second-breack-point )
        grid-column: span 4 !important

#nikname
    grid-column: span 4

#gender, #realName, #partName, #dateBirth, #emailOpen, #selecDerma, #selecHaier
    grid-column: span 2

#phone, #login, #email, #password
    grid-column: span 3

.infOpenProfile
    display: grid
    grid-template-rows: 3fr repeat(2,1fr)
    grid-template-columns: repeat(4,1fr)
    column-gap: 30px
    *
        width: 100%

.descrProf
    grid-column: span 4
    width: 100%

#descrProf
    height: 230px
    resize: none
    @media screen and ( max-width: $second-breack-point )
        height: 80px
        border-radius: 10px
.infOpenProfile 
    display: flex
    flex-direction: column
    margin-bottom: 20px
#saveProf
    background-color: $main-color
    border-radius: $border-radius
    color: $sub-color
    display: none
    width: 98px
    height: 24px
    @media screen and ( max-width: $second-breack-point)
        display: block
    p
        font-size: 10px
        line-height: 12px
        color: $sub-color

    &::before
        display: none

#delProf
    color: $pre-color
    p
        font-size: 24px
        line-height: 29px
        @media screen and ( max-width: $first-breack-point)
            font-weight: 600
            font-size: 15px
            line-height: 18px

    &::before
        background-image: url('../img/info-circle.svg') !important
        width: 27px

.shell
    display: flex
    justify-content: space-between 
    flex-wrap: wrap
    button
        &::before
            border-radius: 0 !important

.review
    .shell
        @media screen and ( max-width: $second-breack-point)
            flex-direction: column
        width: 75%
        *
            margin: 30px 0
            @media screen and ( max-width: $first-breack-point)
                margin: 7.5px 0
            &::before
                margin: 0
                margin-right: 20px
                border-radius: 0
        #createRev
            &::before
                background-image: url('../img/edit.svg')
        #drafRev
            &::before
                background-image: url('../img/document-copy.svg')
        #publRev
            &::before
                background-image: url('../img/document.svg')
#dummy
    box-shadow: none

.select
    p
        margin-bottom: 30px
        @media screen and (max-width: $first-breack-point)
            margin-bottom: 15px
    .shell
        @media screen and (max-width: $first-breack-point)
            flex-wrap: wrap
        *
            margin: 30px 0
            @media screen and ( max-width: $first-breack-point)
                margin: 7.5px 0
            &::before
                margin: 0
                margin-right: 20px
                margin-top: -1px
                @media screen and ( max-width: $first-breack-point)
                    margin-right: 5px
        button 
            box-shadow: $box-shadow-sm
            border-radius: $border-radius
            width: calc((100% / 3) - 8% )
            height: 78px
            @media screen and (max-width: $first-breack-point)
                height: 50px
                width: 48%
            align-items: center
            justify-content: center
#testSelect
    .notice
        left: 39%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 47%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 42%
    &::before
        background-image: url('../img/task-square.svg')
#progSelect
    .notice
        left: 9%
    @media screen and (max-width: $first-breack-point)
        width: 100%
        .notice
            left: 39.5%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 27.5%
    &::before
        background-image: url('../img/settingDidg.svg')
        margin-top: 0
#saveSelect
    .notice
        left: 21%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 35.3%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 19.5%
    &::before
        background-image: url('../img/note.svg')
.d-progMin
    display: none
    @media screen and (max-width: $first-breack-point)
        display: flex !important
.d-progMax
    display: flex
    @media screen and (max-width: $first-breack-point)
        display: none !important
.notice
    background-color: $pre-color
    border-radius: 50%
    width: 30px
    height: 30px
    overflow: hidden
    text-overflow: ellipsis
    position: relative
    top: -50%
    margin: 0 !important
    margin-left: -30px !important
    display: none
    p
        margin: 0 !important
        color: $sub-color
        font-size: 10px !important
        line-height: 31px !important

#quest
    .notice
        left: 29.5%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 40%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 30.5%
    &::before
        background-image: url('../img/message-question.svg')
#feedback
    .notice
        left: 33%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 42.6%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 33%
    &::before
        background-image: url('../img/like-tag.svg')
#comment
    .notice
        left: 21%
    @media screen and (max-width: $first-breack-point)
        width: 100%
        .notice
            left: 42.9%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 35.6%
    &::before
        background-image: url('../img/messages.svg')
    
#review
    .notice
        left: 33%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 42.5%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 32.7%
    &::before
        background-image: url('../img/task.svg')
#monet
    .notice
        left: 21.5%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 35%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 19%
    &::before
        background-image: url('../img/monetisation.svg')
#brend
    .notice
        left: 34%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 43%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 33.5%
    &::before
        background-image: url('../img/tag.svg')
#articl
    .notice
        left: 17%
    @media screen and (max-width: $first-breack-point)
        .notice
            left: 43.3%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 37.5%
    &::before
        background-image: url('../img/document-text.svg')
#tool
    .notice
        left: 29%
    @media screen and (max-width: $first-breack-point)
        width: 100%
        .notice
            left: 45.3%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 41%
    &::before
        background-image: url('../img/toolsSkin.svg')
#techChat
    .notice
        left: 31%
    @media screen and ( max-width: $first-breack-point )
        .notice
            left: 42%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 31.5%
    &::before
        background-image: url('../img/unlock.svg')
#chat
    .notice
        left: 38.7%
    @media screen and ( max-width: $first-breack-point )
        .notice
            left: 45.6%
    @media screen and ( max-width: $second-breack-point )
        .notice
            left: 43.5%
    &::before
        background-image: url('../img/edit.svg')
.chatsAll
    margin-bottom: 20px