.downloadRezult {
  margin-bottom: 30px;
}
.downloadRezult form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .downloadRezult form {
    width: 100%;
  }
}
.downloadRezult form button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  color: #1560BD;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  .downloadRezult form button {
    width: 100%;
    margin-top: 25px;
  }
}
.downloadRezult form button:before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 34px;
  aspect-ratio: 1;
  border: 3px solid #1560BD;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 68%;
  background-image: url("../img/checkBlue.svg");
}
@media screen and (max-width: 1400px) {
  .downloadRezult form button:before {
    width: 20px !important;
    border: 1px solid #1560BD;
  }
}
.downloadRezult form button:hover {
  opacity: 0.7;
}
.downloadRezult form button p {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}
@media screen and (max-width: 1400px) {
  .downloadRezult form button p {
    font-size: 15px;
    line-height: 18px;
  }
}
.downloadRezult form #paySelect:before {
  background-image: url("../img/receipt-item.svg");
}
.downloadRezult form #selectProgram + #paySelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.downloadRezult form #selectProgram + #paySelect:before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 34px;
  aspect-ratio: 1;
  border: 0px;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("../img/wallet-money.svg");
}