.quest {
  margin-bottom: 15px;
}
.quest__text {
  border-radius: 15px;
  background: #1560BD;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
  min-width: 218px;
  margin-bottom: 15px;
}
.quest__text p {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .quest__text p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
}
.quest__text small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 768px) {
  .quest__text small {
    font-size: 12px;
    margin-top: -15px;
  }
}
.quest__resp {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #494949;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .quest__resp {
    font-size: 15px;
    line-height: 17.85px;
    font-weight: 500;
  }
}
.quest__adapt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
  grid-template-columns: repeat(4, 25%);
}
@media screen and (max-width: 768px) {
  .quest__adapt {
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
  }
}
.quest__adapt label {
  width: 183px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .quest__adapt label {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: auto;
  }
}
.quest__adapt__quest {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1400px) {
  .quest__adapt__quest {
    width: 100%;
  }
}
.quest__adapt__quest p b {
  font-weight: 600 !important;
}
.quest__show_result {
  border-radius: 15px;
  color: #1560BD;
  border: 3px solid #1560BD;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: #FFFFFF;
  padding: 5px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}