@import vars

.recomend
    font-weight: 600
    font-style: normal

    p
        font-size: 18px
        line-height: 22px
        color: $dark-lighter

    .heading
        font-size: 30px
        line-height: 37px
        color: $dark-semi-light

    &:first-child
        margin-top: 40px



