@import vars

$paddingBlock: 15px
$lineHeightQuest: 37px
$lineHeightText: 16px

//Top Page
.btn__svg-confirm
    span
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 37px
        text-transform: uppercase
        color: $main-color

.title--20-36
    margin-bottom: 30px

//Form
.quest-b

    margin-bottom: 15px

    .questText
        border-radius: $border-radius
        background: $main-color
        padding: $paddingBlock
        width: fit-content
        color: $white-color
        min-width: 218px
        margin-bottom: 5px


        p   
            font-weight: 600
            font-size: 30px
            line-height: $lineHeightQuest
            margin: 0
            
        small
            font-weight: 400
            font-size: 14px
            line-height: $lineHeightText

