.lk-user .persData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 2fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 2fr repeat(7, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 1400px) {
  .lk-user .persData {
    -ms-grid-columns: 149px 0 1fr 0 1fr 0 1fr;
    grid-template-columns: 149px repeat(3, 1fr);
    -ms-grid-rows: (110px)[10];
    grid-template-rows: repeat(10, 110px);
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .lk-user .persData > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(13) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(14) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(15) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(16) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(17) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(18) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(19) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(20) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(21) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(22) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(23) {
    -ms-grid-row: 6;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(24) {
    -ms-grid-row: 6;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(25) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(26) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(27) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(28) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(29) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(30) {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(31) {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(32) {
    -ms-grid-row: 8;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(33) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(34) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(35) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(36) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
  }
  .lk-user .persData > *:nth-child(37) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .lk-user .persData > *:nth-child(38) {
    -ms-grid-row: 10;
    -ms-grid-column: 3;
  }
  .lk-user .persData > *:nth-child(39) {
    -ms-grid-row: 10;
    -ms-grid-column: 5;
  }
  .lk-user .persData > *:nth-child(40) {
    -ms-grid-row: 10;
    -ms-grid-column: 7;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .persData {
    -ms-grid-rows: (48px)[10];
    grid-template-rows: repeat(10, 48px);
  }
}
.lk-user .persData input {
  height: 42px;
}
@media screen and (max-width: 768px) {
  .lk-user .persData input {
    height: 26px;
  }
}
.lk-user .persData * {
  width: 100%;
}
.lk-user .profile__infOpen {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr (1fr)[2];
  grid-template-rows: 3fr repeat(2, 1fr);
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.lk-user .profile__infOpen > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.lk-user .profile__infOpen > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.lk-user .profile__infOpen > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.lk-user .profile__infOpen > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.lk-user .profile__infOpen > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.lk-user .profile__infOpen > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.lk-user .profile__infOpen > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.lk-user .profile__infOpen > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}
.lk-user .profile__infOpen > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.lk-user .profile__infOpen > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.lk-user .profile__infOpen > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.lk-user .profile__infOpen > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.lk-user .profile__infOpen * {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .lk-user .profile__infOpen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}
.lk-user .profile__infOpen .contry {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.lk-user .profile__infOpen .city {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.lk-user .profile__infOpen #emailOpen {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}
.lk-user .profile__infOpen #selecDerma {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}
.lk-user .profile__infOpen #selecHaier {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.lk-user .profile__infOpen .descrProf {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  width: 100%;
}
.lk-user .profile__infOpen #descrProf {
  height: 230px;
  resize: none;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .lk-user .profile__infOpen #descrProf {
    height: 80px;
  }
}
.lk-user .profile__confidInf .select-wrap, .lk-user .profile__infOpen .select-wrap {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf .select-wrap, .lk-user .profile__infOpen .select-wrap {
    margin: 0;
  }
}
.lk-user .profile__confidInf .select-wrap textarea, .lk-user .profile__infOpen .select-wrap textarea {
  resize: none;
  border-radius: 15px;
}
.lk-user .profile__confidInf {
  margin-bottom: 10px;
}
.lk-user .profile__confidInf #ava {
  width: 30%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  margin: 0;
  margin-right: 20px;
  -ms-grid-row-span: 5;
  grid-row: span 5;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #ava {
    width: 30%;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf #ava {
    width: 30%;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
.lk-user .profile__confidInf #ava .visPrfile {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf #ava .visPrfile {
    width: 50%;
  }
}
.lk-user .profile__confidInf #avatar {
  cursor: pointer;
  border-radius: 50%;
  width: 70%;
  aspect-ratio: 1;
  background-image: url("../img/gallery-add.svg");
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
          box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.lk-user .profile__confidInf #gender {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #gender {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 6;
    grid-column-end: 9;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf #gender {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 7;
    grid-column-end: 9;
  }
  .lk-user .profile__confidInf #gender .form-select {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #210E22;
  }
  .lk-user .profile__confidInf #gender select {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.lk-user .profile__confidInf #nikname {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 4;
  grid-column-end: 7;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #nikname {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #realName {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #realName {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #partName {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #partName {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #phone {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #phone {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 6;
    grid-column-end: 9;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf #phone {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}
.lk-user .profile__confidInf #login {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #login {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #password {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #password {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #password_repit {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #password_repit {
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #email {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #email {
    -ms-grid-row: 10;
    grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}
.lk-user .profile__confidInf #dateBirth {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
}
@media screen and (max-width: 1400px) {
  .lk-user .profile__confidInf #dateBirth {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 6;
    grid-column-end: 9;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf #dateBirth {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 7;
    grid-column-end: 9;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .profile__confidInf #selectGender {
    height: 26px;
  }
}
.lk-user .d-noneMinSec {
  display: none;
}
@media screen and (max-width: 1400px) {
  .lk-user .d-noneMinSec {
    display: block;
  }
}
.lk-user .d-noneMaxSec {
  display: block;
}
@media screen and (max-width: 1400px) {
  .lk-user .d-noneMaxSec {
    display: none;
  }
}
.lk-user .d-progMin {
  display: none;
}
@media screen and (max-width: 1400px) {
  .lk-user .d-progMin {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.lk-user .d-progMax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1400px) {
  .lk-user .d-progMax {
    display: none !important;
  }
}
.lk-user .redPrfile {
  display: none;
}
.lk-user .visPrfile p {
  font-size: 30px;
  line-height: 35px;
  color: #210E22;
  font-weight: 500;
}
@media screen and (max-width: 1400px) {
  .lk-user .visPrfile p {
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;
  }
}
.lk-user .passw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.lk-user .passw__inp {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.lk-user .passw__inp__rep {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.lk-user .passw__vis {
  margin-right: 0;
  margin-left: -30px;
  width: 30px;
  top: 9%;
  position: relative;
  left: -16px;
}
.lk-user #visPassword, .lk-user #visPasswordRep {
  background-image: url("../img/eye_show.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media screen and (max-width: 1400px) {
  .lk-user #visPassword, .lk-user #visPasswordRep {
    background-size: 80%;
  }
}
.lk-user .shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lk-user .shell button::before {
  border-radius: 0 !important;
}
@media screen and (max-width: 768px) {
  .lk-user .shell__rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.lk-user .shell__rev * {
  margin: 30px 0;
}
@media screen and (max-width: 1400px) {
  .lk-user .shell__rev * {
    margin: 7.5px 0;
  }
}
.lk-user .shell__rev *::before {
  margin: 0;
  margin-right: 20px;
  border-radius: 0;
}
.lk-user .shell__rev button {
  margin: 0;
}
.lk-user .shell__rev #createRev::before {
  background-image: url("../img/edit.svg");
}
.lk-user .shell__rev #drafRev::before {
  background-image: url("../img/document-copy.svg");
}
.lk-user .shell__rev #publRev::before {
  background-image: url("../img/document.svg");
}
@media screen and (max-width: 1400px) {
  .lk-user .shell__select {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.lk-user .shell__select * {
  margin: 30px 0;
}
@media screen and (max-width: 1400px) {
  .lk-user .shell__select * {
    margin: 7.5px 0;
  }
}
.lk-user .shell__select *::before {
  margin: 0;
  margin-right: 20px;
  margin-top: -1px;
}
@media screen and (max-width: 1400px) {
  .lk-user .shell__select *::before {
    margin-right: 5px;
  }
}
.lk-user .shell__select button {
  -webkit-box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
          box-shadow: 0px 10px 20px rgba(14, 14, 14, 0.1);
  border-radius: 15px;
  width: 25.3333333333%;
  height: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1400px) {
  .lk-user .shell__select button {
    height: 50px;
    width: 48%;
  }
}
.lk-user .shell .notice {
  background-color: #E31E24;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -50%;
  margin: 0 !important;
  margin-left: -30px !important;
  display: none;
}
.lk-user .shell .notice p {
  margin: 0 !important;
  color: #FAFAFA;
  font-size: 10px !important;
  line-height: 31px !important;
}
.lk-user #dummy {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lk-user .select p {
  margin-bottom: 30px;
}
@media screen and (max-width: 1400px) {
  .lk-user .select p {
    margin-bottom: 15px;
  }
}
.lk-user .select #testS .notice {
  left: 39%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #testS .notice {
    left: 43%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #testS .notice {
    left: 37%;
  }
}
.lk-user .select #testS::before {
  background-image: url("../img/task-square.svg");
}
.lk-user .select #prog .notice {
  left: 9%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #prog {
    width: 100%;
  }
  .lk-user .select #prog .notice {
    left: 39.5%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #prog .notice {
    left: 25.5%;
  }
}
.lk-user .select #prog::before {
  background-image: url("../img/settingDidg.svg");
  margin-top: 0;
}
.lk-user .select #save .notice {
  left: 21%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #save .notice {
    left: 32.3%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #save .notice {
    left: 14.5%;
  }
}
.lk-user .select #save::before {
  background-image: url("../img/note.svg");
}
.lk-user .select #quest .notice {
  left: 29.5%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #quest .notice {
    left: 36%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #quest .notice {
    left: 25.5%;
  }
}
.lk-user .select #quest::before {
  background-image: url("../img/message-question.svg");
}
.lk-user .select #feedback .notice {
  left: 33%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #feedback .notice {
    left: 38.6%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #feedback .notice {
    left: 28%;
  }
}
.lk-user .select #feedback::before {
  background-image: url("../img/like-tag.svg");
}
.lk-user .select #comment .notice {
  left: 21%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #comment {
    width: 100%;
  }
  .lk-user .select #comment .notice {
    left: 41%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #comment .notice {
    left: 33.6%;
  }
}
.lk-user .select #comment::before {
  background-image: url("../img/messages.svg");
}
.lk-user .select #review .notice {
  left: 33%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #review .notice {
    left: 38.5%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #review .notice {
    left: 27.7%;
  }
}
.lk-user .select #review::before {
  background-image: url("../img/task.svg");
}
.lk-user .select #monet .notice {
  left: 21.5%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #monet .notice {
    left: 31%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #monet .notice {
    left: 14%;
  }
}
.lk-user .select #monet::before {
  background-image: url("../img/monetisation.svg");
}
.lk-user .select #brend .notice {
  left: 34%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #brend .notice {
    left: 39%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #brend .notice {
    left: 28.5%;
  }
}
.lk-user .select #brend::before {
  background-image: url("../img/tag.svg");
}
.lk-user .select #articl .notice {
  left: 17%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #articl .notice {
    left: 39.3%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #articl .notice {
    left: 32.5%;
  }
}
.lk-user .select #articl::before {
  background-image: url("../img/document-text.svg");
}
.lk-user .select #tool .notice {
  left: 29%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #tool {
    width: 100%;
  }
  .lk-user .select #tool .notice {
    left: 43.3%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #tool .notice {
    left: 38%;
  }
}
.lk-user .select #tool::before {
  background-image: url("../img/toolsSkin.svg");
}
.lk-user .select #techChat .notice {
  left: 31%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #techChat .notice {
    left: 38%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #techChat .notice {
    left: 26.5%;
  }
}
.lk-user .select #techChat::before {
  background-image: url("../img/unlock.svg");
}
.lk-user .select #chat .notice {
  left: 38.7%;
}
@media screen and (max-width: 1400px) {
  .lk-user .select #chat .notice {
    left: 41.4%;
  }
}
@media screen and (max-width: 768px) {
  .lk-user .select #chat .notice {
    left: 38.5%;
  }
}
.lk-user .select #chat::before {
  background-image: url("../img/edit.svg");
}
.lk-user .chatsAll {
  margin-bottom: 20px;
}
.lk-user input.file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.lk-user .delImage {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.lk-user .delImage:hover {
  opacity: 0.3;
  z-index: -1;
}
.lk-user .visDestr {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 15px;
}
.lk-user .visDestr:hover {
  background-image: url("../img/destr.svg");
}

.modal__del-profile .modal-footer .feed-button {
  margin-right: 0;
}